@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.active{
  color: #38D996 !important;
}

#header, #content, #cv {
  -webkit-animation: fadeIn 2.5s ease-in 1 forwards;
  animation: fadeIn 2.5s ease-in 1 forwards;
  opacity: 0;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  //margin: 20px;
  height: 100%;

}

button {
  border: none;
  background: none;
  outline: none;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

ol {
  padding-left: 30px;
}

ul {
  padding-left: 30px;
}

.board-row {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;

  &:focus {
    outline: none;
  }
}

.kbd-navigation {
  .square {
    &:focus {
      background: #ddd;
    }
  }
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

#core {
  //background: #482FB1;
  background-color: #021027;
  //padding: 2rem 0 0 2rem;
  padding-top: 10rem;
  width: 100%;
  //height: 100%;
  //position: fixed;
  top: 0;
  left: 0;

  #stars {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

  }
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  padding: 2rem 3rem;

  * {
    color: white;
    transition: .2s;

    &:hover {
      transition: .2s;
      color: #38D996 !important;
      text-decoration: none !important;
    }
  }
}

#content {
  height: 100%;


  .content-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
    width: 100%;


    div {
      &:nth-child(1) {
        color: #38D996 !important;
      }

      &:nth-child(2) {
        color: white !important;
        font-weight: normal;
      }
    }

    a {
      color: white !important;
    }

    .contact-title {
      &:nth-child(1) {
        margin-bottom: 1rem;
      }

      color: #38D996 !important;
      font-weight: bold;
      margin-right: 1rem;
    }
  }

  .content-right {
    align-items: center;
    right: 0;
    //position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    > div:nth-child(1) {
      //position: absolute;
      //top: 0;
      //right: 20%;
      color: #f4ff46;
      font-size: 24px !important;
      width: 100%;
      margin-bottom: 3rem;
      //position: sticky;
      top: 100px;
    }
  }
}

.g-card {
  width: 40%;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  padding: 1rem 2rem;
  background: linear-gradient(#176363, #0d3535);
  box-shadow: 0 0 20px 3px rgba(0, 0, 0, .56);
  position: -webkit-sticky;
  position: sticky;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .g-card {
    position: initial;
  }
}

.g-card-title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.g-card-content {
  color: #46ffb2 !important;
  white-space: pre-line;
  text-align: justify;
}

.card-content {
  height: 100%;
  //position: fixed;
  -ms-overflow-style: none;
  scrollbar-width: none;
  //overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  top: 0;
  width: 100%;
  max-width: 1024px;
  padding: 2rem;
  padding-bottom: 0;
  //padding-top: 15%;
  //padding-left: 45%;
  //padding-right: 5%;

  &::-webkit-scrollbar {
    display: none;
  }

  :last-child a {
    color: #46ffb2 !important;
    font-weight: bold;
  }

  .g-card:nth-child(2) {
    background: linear-gradient(#175163, #0d313b);
  }

  .g-card:nth-child(3) {
    background: linear-gradient(#173963, #112947);
  }

  .g-card:nth-child(4) {
    background: linear-gradient(#172063, #131b53);
  }

  .g-card:nth-child(5) {
    background: linear-gradient(#231763, #160f41);
  }

  .g-card:nth-child(6) {
    background: linear-gradient(#2b1763, #1f1148);
  }
}


@keyframes core_background {
  0% {
    background-color: rgba(72, 47, 177, 1);
  }
  10% {
    background-color: rgba(72, 47, 177, .95);
  }
  20% {
    background-color: rgba(72, 47, 177, .90);
  }
  30% {
    background-color: rgba(72, 47, 177, .85);
  }
  40% {
    background-color: rgba(72, 47, 177, .80);
  }
  50% {
    background-color: rgba(72, 47, 177, .75);
  }
  60% {
    background-color: rgba(72, 47, 177, .80);
  }
  70% {
    background-color: rgba(72, 47, 177, .85);
  }
  80% {
    background-color: rgba(72, 47, 177, .90);
  }
  90% {
    background-color: rgba(72, 47, 177, .95);
  }
}

#root {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-name: core_background;
  animation-timing-function: linear;
}

@keyframes card_background {
  00% {
    background-color: rgba(56, 217, 150, 1);
  }
  10% {
    background-color: rgba(56, 217, 150, .8);
  }
  20% {
    background-color: rgba(56, 217, 150, .6);
  }
  30% {
    background-color: rgba(56, 217, 150, .4);
  }
  40% {
    background-color: rgba(56, 217, 150, .2);
  }
  50% {
    background-color: rgba(56, 217, 150, 0);
  }
  60% {
    background-color: rgba(56, 217, 150, .2);
  }
  70% {
    background-color: rgba(56, 217, 150, .4);
  }
  80% {
    background-color: rgba(56, 217, 150, .6);
  }
  90% {
    background-color: rgba(56, 217, 150, .8);
  }

}

.g-card {
  animation-duration: 20s;
  animation-iteration-count: infinite;
  //animation-name: card_background;
  animation-timing-function: linear;
}

/* CV */
#cv {
  color: white !important;
}
